.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  @media screen and (max-width: 420px) {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.blog-list {
  max-width: 700px;
  margin: 0 auto;
  padding: 16px;

  @media screen and (max-width: 420px) {
    padding: 8px;
  }

  h1 {
    text-align: center;
  
    @media screen and (max-width: 420px) {
      font-size: 1.5rem;
    }
  }

  .subtitle {
    max-width: 220px;
    text-align: right;
    color: var(--text-color);
    font-size: 0.825rem;
    font-style: italic;

    @media screen and (max-width: 420px) {
      max-width: 100%;
      text-align: center;
    }
  }

  .blog-post {
    min-width: 320px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--accent-bg);
      transform: scale(1.01);
    }

    .meta {
      font-size: 0.5rem;
      font-weight: 600;
    }

    h2 {
      font-size: 1.25rem;
      margin: 0;
    }

    .excerpt {
      font-size: 0.75rem;
      color: var(--text-color);
      text-align: right;
      margin: 0
    }
  }
}