<div class="photo-collage-wrapper">
  <h2 class="title">
    <span class="center-aligned"
      >Monica <span class="small-span">& Chloe & </span> Martin</span
    >Photo Collage
  </h2>

  <div class="masonry-collage">
    <div
      class="photo-frame"
      *ngFor="let photo of photos; let i = index"
      [ngStyle]="{ animationDelay: i * 100 + 'ms' }"
      (click)="openModal(photo)"
    >
      <img
        [src]="isLoaded(photo) ? photo : getPlaceholder(photo)"
        [attr.data-src]="photo"
        [class.loaded]="isLoaded(photo)"
        class="fade-in"
        (load)="onImageLoad(photo)"
        loading="lazy"
        alt="Collage photo"
        [ngStyle]="{ height: randomHeights[i] }"
      />
      <div class="caption-overlay">
        <span>View</span>
      </div>
    </div>
  </div>
</div>

<div class="lightbox" *ngIf="selectedPhoto" (click)="closeModal()">
  <img [src]="selectedPhoto" alt="Full view" />
</div>
